---
import Layout from "../../layouts/Layout.astro";
import CenteredBody from "../../components/CenteredBody.astro";
import DividerLine from "../../components/DividerLine.astro";
import Tag from "../../components/Tag.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = (await getCollection("blog")) || [];
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const { entry } = Astro.props;
const { Content } = await entry.render();

const formattedPublishDate = new Date(entry.data.published).toLocaleDateString(
  "en-US",
  dateOptions
);

const formattedUpdatedDate = new Date(entry.data.updated).toLocaleDateString(
  "en-US",
  dateOptions
);
---

<Layout title={entry.data.title} description={entry.data.description}>
  <CenteredBody>
    <section id="article">
      <header>
        {entry.data.image && <img src={entry.data.image} />}
        {
          (entry.data.published || entry.data.updated) && (
            <div id="date">
              {entry.data.published && (
                <span>Published at {formattedPublishDate}</span>
              )}
              {entry.data.updated && (
                <span>Updated at {formattedUpdatedDate}</span>
              )}
            </div>
          )
        }
        <h1 id="title">{entry.data.title}</h1>
        <h2 id="description">{entry.data.description}</h2>
        <div id="tags">
          {
            entry.data.tags.map((tag) => (
              <a href={`/tags/${tag}`}>
                <Tag>{tag}</Tag>
              </a>
            ))
          }
        </div>
      </header>
      <main>
        <DividerLine />
        <Content />
      </main>
    </section>
  </CenteredBody>
</Layout>

<style>
  #title {
    margin: 0 auto 0.2em;
    font-size: 2em;
  }
  #description {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 auto 0.5em;
  }
  #date {
    color: var(--overlay0);
    font-size: smaller;
  }
  #tags {
    margin-bottom: 0.5em;
  }
</style>
