---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import TagPane from "../../components/TagPane.astro";

import "../../styles/grid.css";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
  
  return [
    { params: { tag: "software" }, props: { posts: allPosts } },
    { params: { tag: "aquarium" }, props: { posts: allPosts } },
    { params: { tag: "hardware" }, props: { posts: allPosts } },
    { params: { tag: "experience" }, props: { posts: allPosts } },
    { params: { tag: "gaming" }, props: { posts: allPosts } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags.includes(tag)
);
---

<Layout title="TNT's Blog" description="Tagged posts" nav="/blog">
  <div class="grid">
    <h2>Posts tagged with <span id="highlight">{tag}</span>:</h2>
    <div id="article-list" class="col-65 left">
      {
        filteredPosts.map((post) => (
          <BlogPost
            url={post.url}
            description={post.frontmatter.description}
            title={post.frontmatter.title}
            date={post.frontmatter.pubDate.slice(0, 10)}
            tags={post.frontmatter.tags}
          />
        ))
      }
    </div>
    <div id="tag-pane" class="col-33 right">
      <TagPane></TagPane>
    </div> 
  </div>
</Layout>

<style>
  h2 {
    margin-bottom: 0;
  }

  #highlight {
    color: #ccc;
  }

  #article-list {
    margin: 0 auto;
    max-width: 900px;
    /* padding: 0 1rem; */
  }

  @media (max-width: 500px) {
    body {
      font-size: 1em;
    }
    #article-list, #tag-pane {
      padding: 0 1.5em;
    }
    #tag-pane {
      margin-top: 3rem;
    }
  }
</style>
