---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import TagPane from "../../components/TagPane.astro";

import "../../styles/grid.css";

export async function getStaticPaths() {
  const allPosts = (await getCollection("posts")) || [];

  allPosts.sort(
    (a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate)
  );

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title="TNT's Blog" description="Tagged posts" nav="/blog">
  <div class="grid">
    <h2>Posts tagged with <span id="highlight">{tag}</span>:</h2>
    <div id="article-list" class="col-65 left">
      {
        posts.map((post) => (
          <BlogPost
            url={`/posts/${post.slug}/`}
            description={post.data.description}
            title={post.data.title}
            date={post.data.pubDate}
            tags={post.data.tags}
          />
        ))
      }
    </div>
    <div id="tag-pane" class="col-33 right">
      <TagPane />
    </div>
  </div>
</Layout>

<style>
  h2 {
    margin-bottom: 0;
  }

  #highlight {
    color: var(--subtext0);
  }

  #article-list {
    margin: 0 auto;
    max-width: 900px;
    /* padding: 0 1rem; */
  }

  @media (max-width: 500px) {
    body {
      font-size: 1em;
    }
    #article-list,
    #tag-pane {
      padding: 0 1.5em;
    }
    #tag-pane {
      margin-top: 3rem;
    }
  }
</style>
