---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import TagPane from "../components/TagPane.astro";

import "../styles/grid.css";

const allPosts = (await getCollection("posts")) || [];

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Layout title="TNT's Blog" description="My random posts" nav="/blog">
  {
    allPosts.length > 0 ? (
      <div class="grid">
        <div id="article-list" class="col-65 left">
          {allPosts.map((post) => (
            <BlogPost
              url={`/posts/${post.slug}/`}
              description={post.data.description}
              title={post.data.title}
              date={post.data.pubDate}
              tags={post.data.tags}
            />
          ))}
        </div>
        <div id="tag-pane" class="col-33 right">
          <TagPane />
        </div>
      </div>
    ) : (
      <h1 id="none">No posts available.</h1>
    )
  }
</Layout>

<style>
  #none {
    text-align: center;
  }
  @media (max-width: 500px) {
    body {
      font-size: 1em;
    }
    #article-list,
    #tag-pane {
      padding: 0 1.5em;
    }
    #tag-pane {
      margin-top: 3rem;
    }
  }
</style>
