---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import Socials from "../components/Socials.astro";
import CenteredCard from "../components/CenteredCard.astro";
import DividerLine from "../components/DividerLine.astro";

const blogPosts = (await getCollection("blog")) || [];

const tags = [...new Set(blogPosts.map((post) => post.data.tags).flat())];
---

<Layout title="YMSTNT" description="YMSTNT's personal site">
  <div class="h-card">
    <img
      class="u-photo"
      src="/tnt512.png"
      id="profilepic"
      alt="My profile picture"
      title="My profile picture"
    />
    <h1 id="name">YMSTNT</h1>
    <a rel="me" href="https://ymstnt.com/" class="p-name u-url">YMSTNT</a>
    <span id="pronouns">he/him</span>
    <p class="p-note">
      I'm a university student passionate about software development and
      computer science. In my free time, I enjoy tinkering with technology
      (mainly Linux and servers), playing casual games, and caring for my
      aquarium.
    </p>
  </div>
  <main>
    {
      blogPosts.length > 0 ? (
        <div id="article-list">
          {blogPosts
            .sort((a, b) => +b.data.published - +a.data.published)
            .map(({ data, slug }) => (
              <BlogPost
                url={`/blog/${slug}/`}
                title={data.title}
                description={data.description}
                date={data.published}
                tags={data.tags}
              />
            ))}
        </div>
      ) : (
        <h1 id="none">No posts available.</h1>
      )
    }
  </main>
</Layout>

<style>
  body {
    overflow-wrap: break-word;
    font-size: 1em;
  }

  main {
    flex-direction: column;
    max-width: 64rem;
    width: 100%;
    align-self: center;
    padding: 0 2.5rem;
    margin: 0 auto;
  }

  #article-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .h-card {
    display: none;
  }

  h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }

  #profilepic {
    height: 8.7em;
    border-radius: 50%;
  }

  #bio {
    font-weight: bold;
    margin: 0;
  }

  #pronouns {
    color: var(--overlay1);
    padding: 0.5em;
  }

  #introduction {
    text-align: left;
  }

  #introduction p {
    margin-bottom: 0;
  }

  #pronouncination {
    color: var(--overlay1);
    font-style: italic;
  }

  @media screen and (max-width: 600px) {
    body {
      font-size: 1em;
    }
    main {
      padding: 1.5em;
    }
  }
</style>
