---
import "../styles/global.css";

const { title, url, description, date, tags } = Astro.props;

const dateOptions: object = {
  year: "numeric",
  month: "short",
  day: "numeric",
};

const formattedPublishDate = new Date(date).toLocaleDateString(
  "en-US",
  dateOptions
);
---

<div id="card">
  <h3>{title}</h3>
  <p>{description}</p>
  <a href={url}>
    <span id="ref"></span>
  </a>
  <div class="footer">
    <span class="date">{formattedPublishDate}</span>
    <br>
    <span class="tags">
      {
        tags.map((tag) => (
          <tag>
            {tag}
          </tag>
        ))
      }
      </span>
  </div>
</div>

<style>
  h3 {
    margin-top: 0;
  }

  #card {
    display: block;
    background: var(--surface1);
    max-width: 30em;
    border: var(--surface1) 1px solid;
    border-radius: 1em;
    margin: 2em auto;
    padding: 1.5em;
    cursor: pointer;
    position: relative;
  }

  #card:hover,
  #card:active {
    border: lightblue 1px solid;
  }

  #ref {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  tag {
    display: inline-block;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--surface2);
    border: var(--surface2) 1px solid;
    color: var(--text-muted);
  }

  .footer {
    font-size: smaller;
  }

  .date {
    color: #666;
  }
</style>
