---
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";

import { AUTHOR, ICON, THEME_COLOR } from "../scripts-ssr/constants";

export interface Props {
  title: string;
  description: string;
  nav: string;
}

const { title, description, nav } = Astro.props;
---

<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AUTHOR} />
    <meta name="theme-color" content={THEME_COLOR} />

    <meta name="og:type" content="website" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={ICON} />

    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <header>
      <Navbar title="TNT's Blog" nav="/blog"/>
    </header>
    <article id="blog-body">
      <slot />
    </article>
  </body>
</html>

<style>
  article {
    margin: 0 auto;
    max-width: 900px;
    /* padding: 0 1rem; */
  }

  @media (max-width: 500px) {
    article {
      padding: 0 1rem;
    }
  }
</style>
