---
import BlogLayout from "./BlogLayout.astro";
import DividerLine from "../components/DividerLine.astro";
import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const formattedPublishDate = new Date(frontmatter.pubDate).toLocaleDateString(
  "en-GB",
  dateOptions
);
---

<BlogLayout
  title={frontmatter.title}
  description={frontmatter.description}
  nav="/blog"
>
  {
    frontmatter.image && (
      <section id="image">
        <img
          src={frontmatter.image.url}
          height="250"
          alt={frontmatter.image.alt}
        />
      </section>
    )
  }

  <h1>{frontmatter.title}</h1>
  <p id="date">Published on: {formattedPublishDate}</p>
  <!-- <p><em>{frontmatter.description}</em></p> -->
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <Tag>
          {tag}
          <a href={`/tags/${tag}`}>
            <span class="ref" />
          </a>
        </Tag>
      ))
    }
  </div>
  <DividerLine />
  <div id="article">
    <slot />
  </div>
</BlogLayout>

<style>
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  #article {
    text-align: justify;
  }

  #image img {
    width: 100%;
  }

  img:not([src]) {
    display: none;
  }

  #date {
    color: var(--overlay0);
  }
</style>
